<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
  <style>
  h1 {
  padding:40px;
    text-align: center;
  }
  #userinfo{
	width: 300px;
	height: 30px:
  }
  #pswd{
	width: 300px;
	height: 30px:
  }
  .login{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  </style>
  <h1>Fuel Quote Form</h1>
  <body style="background-color:beige;">
    <form action="/api/users/:id" method="post">
  <div class="login">
  <strong><label for="gallonsrequested"<b>Gallons Requested: <font color="red">Required</font> </b></label></strong><br> 
  <input type="number" placeholder="Enter Gallons Requested" name="gallons"value="<%= locals.gallons %>" id="userinfo" maxlength="50" required > 
  <br><br>
  <strong><label for="City"<b>City: </b></label></strong><br>
  <select id="city" name="city" value="<%= locals.city%>">
    <option value="">Select City</option>
    <option value="Abernathy">Abernathy</option>
    <option value="Abilene">Abilene</option>
    <option value="Abram">Abram</option>
    <option value="Addison">Addison</option>
    <option value="Agua Dulce">Agua Dulce</option>
    <option value="Alamo">Alamo</option>
    <option value="Alamo Heights">Alamo Heights</option>
    <option value="Albany">Albany</option>
    <option value="Aldine">Aldine</option>
    <option value="Aledo">Aledo</option>
    <option value="Alice">Alice</option>
    <option value="Alief">Alief</option>
    <option value="Allen">Allen</option>
    <option value="Alpine">Alpine</option>
    <option value="Alto">Alto</option>
    <option value="Alton">Alton</option>
    <option value="Alton North (historical)">Alton North (historical)</option>
    <option value="Alvarado">Alvarado</option>
    <option value="Alvin">Alvin</option>
    <option value="Alvord">Alvord</option>
    <option value="Amarillo">Amarillo</option>
    <option value="Ames">Ames</option>
    <option value="Anahuac">Anahuac</option>
    <option value="Anderson">Anderson</option>
    <option value="Anderson County">Anderson County</option>
    <option value="Anderson Mill">Anderson Mill</option>
    <option value="Andrews">Andrews</option>
    <option value="Andrews County">Andrews County</option>
    <option value="Angelina County">Angelina County</option>
    <option value="Angleton">Angleton</option>
    <option value="Anna">Anna</option>
    <option value="Annetta">Annetta</option>
    <option value="Anson">Anson</option>
    <option value="Anthony">Anthony</option>
    <option value="Anton">Anton</option>
    <option value="Aransas County">Aransas County</option>
    <option value="Aransas Pass">Aransas Pass</option>
    <option value="Archer City">Archer City</option>
    <option value="Archer County">Archer County</option>
    <option value="Arcola">Arcola</option>
    <option value="Argyle">Argyle</option>
    <option value="Arlington">Arlington</option>
    <option value="Armstrong County">Armstrong County</option>
    <option value="Asherton">Asherton</option>
    <option value="Aspermont">Aspermont</option>
    <option value="Atascocita">Atascocita</option>
    <option value="Atascosa County">Atascosa County</option>
    <option value="Athens">Athens</option>
    <option value="Atlanta">Atlanta</option>
    <option value="Aubrey">Aubrey</option>
    <option value="Aurora">Aurora</option>
    <option value="Austin">Austin</option>
    <option value="Austin County">Austin County</option>
    <option value="Azle">Azle</option>
    <option value="Bacliff">Bacliff</option>
    <option value="Bailey County">Bailey County</option>
    <option value="Baird">Baird</option>
    <option value="Balch Springs">Balch Springs</option>
    <option value="Balcones Heights">Balcones Heights</option>
    <option value="Ballinger">Ballinger</option>
    <option value="Bandera">Bandera</option>
    <option value="Bandera County">Bandera County</option>
    <option value="Bangs">Bangs</option>
    <option value="Barrett">Barrett</option>
    <option value="Bartlett">Bartlett</option>
    <option value="Barton Creek">Barton Creek</option>
    <option value="Bartonville">Bartonville</option>
    <option value="Bastrop">Bastrop</option>
    <option value="Bastrop County">Bastrop County</option>
    <option value="Batesville">Batesville</option>
    <option value="Bay City">Bay City</option>
    <option value="Baylor County">Baylor County</option>
    <option value="Bayou Vista">Bayou Vista</option>
    <option value="Baytown">Baytown</option>
    <option value="Beach City">Beach City</option>
    <option value="Beaumont">Beaumont</option>
    <option value="Bedford">Bedford</option>
    <option value="Bee Cave">Bee Cave</option>
    <option value="Bee County">Bee County</option>
    <option value="Beeville">Beeville</option>
    <option value="Bell County">Bell County</option>
    <option value="Bellaire">Bellaire</option>
    <option value="Bellmead">Bellmead</option>
    <option value="Bells">Bells</option>
    <option value="Bellville">Bellville</option>
    <option value="Belton">Belton</option>
    <option value="Benavides">Benavides</option>
    <option value="Benbrook">Benbrook</option>
    <option value="Benjamin">Benjamin</option>
    <option value="Berryville">Berryville</option>
    <option value="Bertram">Bertram</option>
    <option value="Beverly">Beverly</option>
    <option value="Beverly Hills">Beverly Hills</option>
    <option value="Bevil Oaks">Bevil Oaks</option>
    <option value="Bexar County">Bexar County</option>
    <option value="Big Lake">Big Lake</option>
    <option value="Big Sandy">Big Sandy</option>
    <option value="Big Spring">Big Spring</option>
    <option value="Bishop">Bishop</option>
    <option value="Blanco">Blanco</option>
    <option value="Blanco County">Blanco County</option>
    <option value="Bloomington">Bloomington</option>
    <option value="Blossom">Blossom</option>
    <option value="Blue Mound">Blue Mound</option>
    <option value="Boerne">Boerne</option>
    <option value="Bogata">Bogata</option>
    <option value="Boling">Boling</option>
    <option value="Bolivar Peninsula">Bolivar Peninsula</option>
    <option value="Bonham">Bonham</option>
    <option value="Booker">Booker</option>
    <option value="Borden County">Borden County</option>
    <option value="Borger">Borger</option>
    <option value="Bosque County">Bosque County</option>
    <option value="Bovina">Bovina</option>
    <option value="Bowie">Bowie</option>
    <option value="Bowie County">Bowie County</option>
    <option value="Boyd">Boyd</option>
    <option value="Brackettville">Brackettville</option>
    <option value="Brady">Brady</option>
    <option value="Brazoria">Brazoria</option>
    <option value="Brazoria County">Brazoria County</option>
    <option value="Brazos County">Brazos County</option>
    <option value="Breckenridge">Breckenridge</option>
    <option value="Brenham">Brenham</option>
    <option value="Brewster County">Brewster County</option>
    <option value="Briar">Briar</option>
    <option value="Briarcliff">Briarcliff</option>
    <option value="Bridge City">Bridge City</option>
    <option value="Bridgeport">Bridgeport</option>
    <option value="Briscoe County">Briscoe County</option>
    <option value="Brooks County">Brooks County</option>
    <option value="Brookshire">Brookshire</option>
    <option value="Brookside Village">Brookside Village</option>
    <option value="Brown County">Brown County</option>
    <option value="Brownfield">Brownfield</option>
    <option value="Brownsboro">Brownsboro</option>
    <option value="Brownsville">Brownsville</option>
    <option value="Brownwood">Brownwood</option>
    <option value="Bruceville-Eddy">Bruceville-Eddy</option>
    <option value="Brushy Creek">Brushy Creek</option>
    <option value="Bryan">Bryan</option>
    <option value="Buchanan Dam">Buchanan Dam</option>
    <option value="Buda">Buda</option>
    <option value="Buffalo">Buffalo</option>
    <option value="Bullard">Bullard</option>
    <option value="Bulverde">Bulverde</option>
    <option value="Buna">Buna</option>
    <option value="Bunker Hill Village">Bunker Hill Village</option>
    <option value="Burkburnett">Burkburnett</option>
    <option value="Burleson">Burleson</option>
    <option value="Burleson County">Burleson County</option>
    <option value="Burnet">Burnet</option>
    <option value="Burnet County">Burnet County</option>
    <option value="Bushland">Bushland</option>
    <option value="Cactus">Cactus</option>
    <option value="Caddo Mills">Caddo Mills</option>
    <option value="Caldwell">Caldwell</option>
    <option value="Caldwell County">Caldwell County</option>
    <option value="Calhoun County">Calhoun County</option>
    <option value="Callahan County">Callahan County</option>
    <option value="Calvert">Calvert</option>
    <option value="Cameron">Cameron</option>
    <option value="Cameron County">Cameron County</option>
    <option value="Cameron Park">Cameron Park</option>
    <option value="Cameron Park Colonia">Cameron Park Colonia</option>
    <option value="Camp County">Camp County</option>
    <option value="Camp Swift">Camp Swift</option>
    <option value="Canadian">Canadian</option>
    <option value="Canton">Canton</option>
    <option value="Canutillo">Canutillo</option>
    <option value="Canyon">Canyon</option>
    <option value="Canyon Lake">Canyon Lake</option>
    <option value="Carrizo Springs">Carrizo Springs</option>
    <option value="Carrollton">Carrollton</option>
    <option value="Carson County">Carson County</option>
    <option value="Carthage">Carthage</option>
    <option value="Cass County">Cass County</option>
    <option value="Castle Hills">Castle Hills</option>
    <option value="Castro County">Castro County</option>
    <option value="Castroville">Castroville</option>
    <option value="Cedar Hill">Cedar Hill</option>
    <option value="Cedar Park">Cedar Park</option>
    <option value="Celina">Celina</option>
    <option value="Center">Center</option>
    <option value="Centerville">Centerville</option>
    <option value="Central Gardens">Central Gardens</option>
    <option value="César Chávez">César Chávez</option>
    <option value="Chambers County">Chambers County</option>
    <option value="Chandler">Chandler</option>
    <option value="Channelview">Channelview</option>
    <option value="Channing">Channing</option>
    <option value="Charlotte">Charlotte</option>
    <option value="Cherokee County">Cherokee County</option>
    <option value="Chico">Chico</option>
    <option value="Childress">Childress</option>
    <option value="Childress County">Childress County</option>
    <option value="China">China</option>
    <option value="China Grove">China Grove</option>
    <option value="Cibolo">Cibolo</option>
    <option value="Cienegas Terrace">Cienegas Terrace</option>
    <option value="Cinco Ranch">Cinco Ranch</option>
    <option value="Circle D-KC Estates">Circle D-KC Estates</option>
    <option value="Cisco">Cisco</option>
    <option value="Citrus City">Citrus City</option>
    <option value="Clarendon">Clarendon</option>
    <option value="Clarksville">Clarksville</option>
    <option value="Claude">Claude</option>
    <option value="Clay County">Clay County</option>
    <option value="Clear Lake Shores">Clear Lake Shores</option>
    <option value="Cleburne">Cleburne</option>
    <option value="Cleveland">Cleveland</option>
    <option value="Clifton">Clifton</option>
    <option value="Clint">Clint</option>
    <option value="Cloverleaf">Cloverleaf</option>
    <option value="Clute">Clute</option>
    <option value="Clyde">Clyde</option>
    <option value="Cochran County">Cochran County</option>
    <option value="Cockrell Hill">Cockrell Hill</option>
    <option value="Coke County">Coke County</option>
    <option value="Coldspring">Coldspring</option>
    <option value="Coleman">Coleman</option>
    <option value="Coleman County">Coleman County</option>
    <option value="College Station">College Station</option>
    <option value="Colleyville">Colleyville</option>
    <option value="Collin County">Collin County</option>
    <option value="Collingsworth County">Collingsworth County</option>
    <option value="Collinsville">Collinsville</option>
    <option value="Colorado City">Colorado City</option>
    <option value="Colorado County">Colorado County</option>
    <option value="Columbus">Columbus</option>
    <option value="Comal County">Comal County</option>
    <option value="Comanche">Comanche</option>
    <option value="Comanche County">Comanche County</option>
    <option value="Combes">Combes</option>
    <option value="Combine">Combine</option>
    <option value="Comfort">Comfort</option>
    <option value="Commerce">Commerce</option>
    <option value="Concho County">Concho County</option>
    <option value="Conroe">Conroe</option>
    <option value="Converse">Converse</option>
    <option value="Cooke County">Cooke County</option>
    <option value="Cooper">Cooper</option>
    <option value="Coppell">Coppell</option>
    <option value="Copper Canyon">Copper Canyon</option>
    <option value="Copperas Cove">Copperas Cove</option>
    <option value="Corinth">Corinth</option>
    <option value="Corpus Christi">Corpus Christi</option>
    <option value="Corrigan">Corrigan</option>
    <option value="Corsicana">Corsicana</option>
    <option value="Coryell County">Coryell County</option>
    <option value="Cottle County">Cottle County</option>
    <option value="Cottonwood Shores">Cottonwood Shores</option>
    <option value="Cotulla">Cotulla</option>
    <option value="Crandall">Crandall</option>
    <option value="Crane">Crane</option>
    <option value="Crane County">Crane County</option>
    <option value="Crockett">Crockett</option>
    <option value="Crockett County">Crockett County</option>
    <option value="Crosby">Crosby</option>
    <option value="Crosby County">Crosby County</option>
    <option value="Crosbyton">Crosbyton</option>
    <option value="Cross Mountain">Cross Mountain</option>
    <option value="Crowell">Crowell</option>
    <option value="Crowley">Crowley</option>
    <option value="Crystal City">Crystal City</option>
    <option value="Cuero">Cuero</option>
    <option value="Culberson County">Culberson County</option>
    <option value="Cut and Shoot">Cut and Shoot</option>
    <option value="Cypress">Cypress</option>
    <option value="Daingerfield">Daingerfield</option>
    <option value="Dalhart">Dalhart</option>
    <option value="Dallam County">Dallam County</option>
    <option value="Dallas">Dallas</option>
    <option value="Dallas County">Dallas County</option>
    <option value="Dalworthington Gardens">Dalworthington Gardens</option>
    <option value="Danbury">Danbury</option>
    <option value="Dawson County">Dawson County</option>
    <option value="Dayton">Dayton</option>
    <option value="De Kalb">De Kalb</option>
    <option value="De Leon">De Leon</option>
    <option value="Deaf Smith County">Deaf Smith County</option>
    <option value="Decatur">Decatur</option>
    <option value="DeCordova">DeCordova</option>
    <option value="Deer Park">Deer Park</option>
    <option value="Del Rio">Del Rio</option>
    <option value="Delta County">Delta County</option>
    <option value="Denison">Denison</option>
    <option value="Denton">Denton</option>
    <option value="Denton County">Denton County</option>
    <option value="Denver City">Denver City</option>
    <option value="DeSoto">DeSoto</option>
    <option value="Devine">Devine</option>
    <option value="Deweyville">Deweyville</option>
    <option value="DeWitt County">DeWitt County</option>
    <option value="Diboll">Diboll</option>
    <option value="Dickens">Dickens</option>
    <option value="Dickens County">Dickens County</option>
    <option value="Dickinson">Dickinson</option>
    <option value="Dilley">Dilley</option>
    <option value="Dimmit County">Dimmit County</option>
    <option value="Dimmitt">Dimmitt</option>
    <option value="Doffing">Doffing</option>
    <option value="Donley County">Donley County</option>
    <option value="Donna">Donna</option>
    <option value="Doolittle">Doolittle</option>
    <option value="Double Oak">Double Oak</option>
    <option value="Dripping Springs">Dripping Springs</option>
    <option value="Dublin">Dublin</option>
    <option value="Dumas">Dumas</option>
    <option value="Duncanville">Duncanville</option>
    <option value="Duval County">Duval County</option>
    <option value="Eagle Lake">Eagle Lake</option>
    <option value="Eagle Mountain">Eagle Mountain</option>
    <option value="Eagle Pass">Eagle Pass</option>
    <option value="Early">Early</option>
    <option value="Earth">Earth</option>
    <option value="East Bernard">East Bernard</option>
    <option value="Eastland">Eastland</option>
    <option value="Eastland County">Eastland County</option>
    <option value="Ector County">Ector County</option>
    <option value="Edcouch">Edcouch</option>
    <option value="Eden">Eden</option>
    <option value="Edgecliff Village">Edgecliff Village</option>
    <option value="Edgewood">Edgewood</option>
    <option value="Edinburg">Edinburg</option>
    <option value="Edna">Edna</option>
    <option value="Edwards County">Edwards County</option>
    <option value="Eidson Road">Eidson Road</option>
    <option value="El Campo">El Campo</option>
    <option value="El Cenizo">El Cenizo</option>
    <option value="El Lago">El Lago</option>
    <option value="El Paso">El Paso</option>
    <option value="El Paso County">El Paso County</option>
    <option value="Eldorado">Eldorado</option>
    <option value="Electra">Electra</option>
    <option value="Elgin">Elgin</option>
    <option value="Elkhart">Elkhart</option>
    <option value="Ellis County">Ellis County</option>
    <option value="Elm Creek">Elm Creek</option>
    <option value="Elmendorf">Elmendorf</option>
    <option value="Elsa">Elsa</option>
    <option value="Emory">Emory</option>
    <option value="Encantada-Ranchito-El Calaboz">Encantada-Ranchito-El Calaboz</option>
    <option value="Ennis">Ennis</option>
    <option value="Erath County">Erath County</option>
    <option value="Escobares">Escobares</option>
    <option value="Euless">Euless</option>
    <option value="Evadale">Evadale</option>
    <option value="Everman">Everman</option>
    <option value="Fabens">Fabens</option>
    <option value="Fair Oaks Ranch">Fair Oaks Ranch</option>
    <option value="Fairchilds">Fairchilds</option>
    <option value="Fairfield">Fairfield</option>
    <option value="Fairview">Fairview</option>
    <option value="Falcon Lake Estates">Falcon Lake Estates</option>
    <option value="Falfurrias">Falfurrias</option>
    <option value="Falls County">Falls County</option>
    <option value="Fannett">Fannett</option>
    <option value="Fannin County">Fannin County</option>
    <option value="Farmers Branch">Farmers Branch</option>
    <option value="Farmersville">Farmersville</option>
    <option value="Farwell">Farwell</option>
    <option value="Fate">Fate</option>
    <option value="Fayette County">Fayette County</option>
    <option value="Ferris">Ferris</option>
    <option value="Fifth Street">Fifth Street</option>
    <option value="Fisher County">Fisher County</option>
    <option value="Flatonia">Flatonia</option>
    <option value="Florence">Florence</option>
    <option value="Floresville">Floresville</option>
    <option value="Flower Mound">Flower Mound</option>
    <option value="Floyd County">Floyd County</option>
    <option value="Floydada">Floydada</option>
    <option value="Foard County">Foard County</option>
    <option value="Forest Hill">Forest Hill</option>
    <option value="Forney">Forney</option>
    <option value="Fort Bend County">Fort Bend County</option>
    <option value="Fort Bliss">Fort Bliss</option>
    <option value="Fort Clark Springs">Fort Clark Springs</option>
    <option value="Fort Davis">Fort Davis</option>
    <option value="Fort Hancock">Fort Hancock</option>
    <option value="Fort Hood">Fort Hood</option>
    <option value="Fort Stockton">Fort Stockton</option>
    <option value="Fort Worth">Fort Worth</option>
    <option value="Four Corners">Four Corners</option>
    <option value="Franklin">Franklin</option>
    <option value="Franklin County">Franklin County</option>
    <option value="Frankston">Frankston</option>
    <option value="Fredericksburg">Fredericksburg</option>
    <option value="Freeport">Freeport</option>
    <option value="Freer">Freer</option>
    <option value="Freestone County">Freestone County</option>
    <option value="Fresno">Fresno</option>
    <option value="Friendswood">Friendswood</option>
    <option value="Frio County">Frio County</option>
    <option value="Friona">Friona</option>
    <option value="Frisco">Frisco</option>
    <option value="Fritch">Fritch</option>
    <option value="Fulshear">Fulshear</option>
    <option value="Fulton">Fulton</option>
    <option value="Gail">Gail</option>
    <option value="Gaines County">Gaines County</option>
    <option value="Gainesville">Gainesville</option>
    <option value="Galena Park">Galena Park</option>
    <option value="Galveston">Galveston</option>
    <option value="Galveston County">Galveston County</option>
    <option value="Ganado">Ganado</option>
    <option value="Garden City">Garden City</option>
    <option value="Garden Ridge">Garden Ridge</option>
    <option value="Gardendale">Gardendale</option>
    <option value="Garfield">Garfield</option>
    <option value="Garland">Garland</option>
    <option value="Garza County">Garza County</option>
    <option value="Gatesville">Gatesville</option>
    <option value="George West">George West</option>
    <option value="Georgetown">Georgetown</option>
    <option value="Geronimo">Geronimo</option>
    <option value="Gholson">Gholson</option>
    <option value="Giddings">Giddings</option>
    <option value="Gillespie County">Gillespie County</option>
    <option value="Gilmer">Gilmer</option>
    <option value="Gladewater">Gladewater</option>
    <option value="Glasscock County">Glasscock County</option>
    <option value="Glen Rose">Glen Rose</option>
    <option value="Glenn Heights">Glenn Heights</option>
    <option value="Godley">Godley</option>
    <option value="Goldthwaite">Goldthwaite</option>
    <option value="Goliad">Goliad</option>
    <option value="Goliad County">Goliad County</option>
    <option value="Gonzales">Gonzales</option>
    <option value="Gonzales County">Gonzales County</option>
    <option value="Gorman">Gorman</option>
    <option value="Graham">Graham</option>
    <option value="Granbury">Granbury</option>
    <option value="Grand Prairie">Grand Prairie</option>
    <option value="Grand Saline">Grand Saline</option>
    <option value="Grandview">Grandview</option>
    <option value="Granger">Granger</option>
    <option value="Granite Shoals">Granite Shoals</option>
    <option value="Grape Creek">Grape Creek</option>
    <option value="Grapeland">Grapeland</option>
    <option value="Grapevine">Grapevine</option>
    <option value="Gray County">Gray County</option>
    <option value="Grayson County">Grayson County</option>
    <option value="Greatwood">Greatwood</option>
    <option value="Green Valley Farms">Green Valley Farms</option>
    <option value="Greenville">Greenville</option>
    <option value="Gregg County">Gregg County</option>
    <option value="Gregory">Gregory</option>
    <option value="Grimes County">Grimes County</option>
    <option value="Groesbeck">Groesbeck</option>
    <option value="Groves">Groves</option>
    <option value="Groveton">Groveton</option>
    <option value="Gruver">Gruver</option>
    <option value="Guadalupe County">Guadalupe County</option>
    <option value="Gun Barrel City">Gun Barrel City</option>
    <option value="Gunter">Gunter</option>
    <option value="Guthrie">Guthrie</option>
    <option value="Hackberry">Hackberry</option>
    <option value="Hale Center">Hale Center</option>
    <option value="Hale County">Hale County</option>
    <option value="Hall County">Hall County</option>
    <option value="Hallettsville">Hallettsville</option>
    <option value="Hallsville">Hallsville</option>
    <option value="Haltom City">Haltom City</option>
    <option value="Hamilton">Hamilton</option>
    <option value="Hamilton County">Hamilton County</option>
    <option value="Hamlin">Hamlin</option>
    <option value="Hansford County">Hansford County</option>
    <option value="Hardeman County">Hardeman County</option>
    <option value="Hardin County">Hardin County</option>
    <option value="Harker Heights">Harker Heights</option>
    <option value="Harlingen">Harlingen</option>
    <option value="Harper">Harper</option>
    <option value="Harris County">Harris County</option>
    <option value="Harrison County">Harrison County</option>
    <option value="Hart">Hart</option>
    <option value="Hartley County">Hartley County</option>
    <option value="Haskell">Haskell</option>
    <option value="Haskell County">Haskell County</option>
    <option value="Haslet">Haslet</option>
    <option value="Hawkins">Hawkins</option>
    <option value="Hays County">Hays County</option>
    <option value="Hearne">Hearne</option>
    <option value="Heath">Heath</option>
    <option value="Hebbronville">Hebbronville</option>
    <option value="Hedwig Village">Hedwig Village</option>
    <option value="Heidelberg">Heidelberg</option>
    <option value="Helotes">Helotes</option>
    <option value="Hemphill">Hemphill</option>
    <option value="Hemphill County">Hemphill County</option>
    <option value="Hempstead">Hempstead</option>
    <option value="Henderson">Henderson</option>
    <option value="Henderson County">Henderson County</option>
    <option value="Henrietta">Henrietta</option>
    <option value="Hereford">Hereford</option>
    <option value="Hewitt">Hewitt</option>
    <option value="Hickory Creek">Hickory Creek</option>
    <option value="Hico">Hico</option>
    <option value="Hidalgo">Hidalgo</option>
    <option value="Hidalgo County">Hidalgo County</option>
    <option value="Hideaway">Hideaway</option>
    <option value="Highland Park">Highland Park</option>
    <option value="Highland Village">Highland Village</option>
    <option value="Highlands">Highlands</option>
    <option value="Hill Country Village">Hill Country Village</option>
    <option value="Hill County">Hill County</option>
    <option value="Hillsboro">Hillsboro</option>
    <option value="Hilltop Lakes">Hilltop Lakes</option>
    <option value="Hitchcock">Hitchcock</option>
    <option value="Hockley County">Hockley County</option>
    <option value="Holiday Lakes">Holiday Lakes</option>
    <option value="Holland">Holland</option>
    <option value="Holliday">Holliday</option>
    <option value="Holly Lake Ranch">Holly Lake Ranch</option>
    <option value="Hollywood Park">Hollywood Park</option>
    <option value="Homestead Meadows North">Homestead Meadows North</option>
    <option value="Homestead Meadows South">Homestead Meadows South</option>
    <option value="Hondo">Hondo</option>
    <option value="Honey Grove">Honey Grove</option>
    <option value="Hood County">Hood County</option>
    <option value="Hooks">Hooks</option>
    <option value="Hopkins County">Hopkins County</option>
    <option value="Horizon City">Horizon City</option>
    <option value="Hornsby Bend">Hornsby Bend</option>
    <option value="Horseshoe Bay">Horseshoe Bay</option>
    <option value="Houston">Houston</option>
    <option value="Houston County">Houston County</option>
    <option value="Howard County">Howard County</option>
    <option value="Howe">Howe</option>
    <option value="Hubbard">Hubbard</option>
    <option value="Hudson">Hudson</option>
    <option value="Hudson Bend">Hudson Bend</option>
    <option value="Hudson Oaks">Hudson Oaks</option>
    <option value="Hudspeth County">Hudspeth County</option>
    <option value="Hughes Springs">Hughes Springs</option>
    <option value="Humble">Humble</option>
    <option value="Hunt County">Hunt County</option>
    <option value="Hunters Creek Village">Hunters Creek Village</option>
    <option value="Huntington">Huntington</option>
    <option value="Huntsville">Huntsville</option>
    <option value="Hurst">Hurst</option>
    <option value="Hutchins">Hutchins</option>
    <option value="Hutchinson County">Hutchinson County</option>
    <option value="Hutto">Hutto</option>
    <option value="Idalou">Idalou</option>
    <option value="Indian Hills">Indian Hills</option>
    <option value="Inez">Inez</option>
    <option value="Ingleside">Ingleside</option>
    <option value="Ingram">Ingram</option>
    <option value="Iowa Colony">Iowa Colony</option>
    <option value="Iowa Park">Iowa Park</option>
    <option value="Iraan">Iraan</option>
    <option value="Irion County">Irion County</option>
    <option value="Irving">Irving</option>
    <option value="Italy">Italy</option>
    <option value="Itasca">Itasca</option>
    <option value="Jacinto City">Jacinto City</option>
    <option value="Jack County">Jack County</option>
    <option value="Jacksboro">Jacksboro</option>
    <option value="Jackson County">Jackson County</option>
    <option value="Jacksonville">Jacksonville</option>
    <option value="Jamaica Beach">Jamaica Beach</option>
    <option value="Jarrell">Jarrell</option>
    <option value="Jasper">Jasper</option>
    <option value="Jasper County">Jasper County</option>
    <option value="Jayton">Jayton</option>
    <option value="Jeff Davis County">Jeff Davis County</option>
    <option value="Jefferson">Jefferson</option>
    <option value="Jefferson County">Jefferson County</option>
    <option value="Jersey Village">Jersey Village</option>
    <option value="Jewett">Jewett</option>
    <option value="Jim Hogg County">Jim Hogg County</option>
    <option value="Jim Wells County">Jim Wells County</option>
    <option value="Johnson City">Johnson City</option>
    <option value="Johnson County">Johnson County</option>
    <option value="Jollyville">Jollyville</option>
    <option value="Jones County">Jones County</option>
    <option value="Jones Creek">Jones Creek</option>
    <option value="Jonestown">Jonestown</option>
    <option value="Josephine">Josephine</option>
    <option value="Joshua">Joshua</option>
    <option value="Jourdanton">Jourdanton</option>
    <option value="Junction">Junction</option>
    <option value="Justin">Justin</option>
    <option value="Karnes City">Karnes City</option>
    <option value="Karnes County">Karnes County</option>
    <option value="Katy">Katy</option>
    <option value="Kaufman">Kaufman</option>
    <option value="Kaufman County">Kaufman County</option>
    <option value="Keene">Keene</option>
    <option value="Keller">Keller</option>
    <option value="Kemah">Kemah</option>
    <option value="Kemp">Kemp</option>
    <option value="Kempner">Kempner</option>
    <option value="Kendall County">Kendall County</option>
    <option value="Kenedy">Kenedy</option>
    <option value="Kenedy County">Kenedy County</option>
    <option value="Kennedale">Kennedale</option>
    <option value="Kent County">Kent County</option>
    <option value="Kerens">Kerens</option>
    <option value="Kermit">Kermit</option>
    <option value="Kerr County">Kerr County</option>
    <option value="Kerrville">Kerrville</option>
    <option value="Kilgore">Kilgore</option>
    <option value="Killeen">Killeen</option>
    <option value="Kimble County">Kimble County</option>
    <option value="King County">King County</option>
    <option value="Kingsland">Kingsland</option>
    <option value="Kingsville">Kingsville</option>
    <option value="Kingwood Area">Kingwood Area</option>
    <option value="Kinney County">Kinney County</option>
    <option value="Kirby">Kirby</option>
    <option value="Kirbyville">Kirbyville</option>
    <option value="Kleberg County">Kleberg County</option>
    <option value="Knox City">Knox City</option>
    <option value="Knox County">Knox County</option>
    <option value="Kountze">Kountze</option>
    <option value="Krugerville">Krugerville</option>
    <option value="Krum">Krum</option>
    <option value="Kyle">Kyle</option>
    <option value="La Blanca">La Blanca</option>
    <option value="La Coste">La Coste</option>
    <option value="La Feria">La Feria</option>
    <option value="La Grange">La Grange</option>
    <option value="La Grulla">La Grulla</option>
    <option value="La Homa">La Homa</option>
    <option value="La Joya">La Joya</option>
    <option value="La Marque">La Marque</option>
    <option value="La Paloma">La Paloma</option>
    <option value="La Porte">La Porte</option>
    <option value="La Pryor">La Pryor</option>
    <option value="La Salle County">La Salle County</option>
    <option value="La Vernia">La Vernia</option>
    <option value="La Villa">La Villa</option>
    <option value="Lackland Air Force Base">Lackland Air Force Base</option>
    <option value="Lacy-Lakeview">Lacy-Lakeview</option>
    <option value="Lago Vista">Lago Vista</option>
    <option value="Laguna Heights">Laguna Heights</option>
    <option value="Laguna Park">Laguna Park</option>
    <option value="Laguna Vista">Laguna Vista</option>
    <option value="Lake Brownwood">Lake Brownwood</option>
    <option value="Lake Dallas">Lake Dallas</option>
    <option value="Lake Dunlap">Lake Dunlap</option>
    <option value="Lake Jackson">Lake Jackson</option>
    <option value="Lake Kiowa">Lake Kiowa</option>
    <option value="Lake Worth">Lake Worth</option>
    <option value="Lakehills">Lakehills</option>
    <option value="Lakeside">Lakeside</option>
    <option value="Lakeway">Lakeway</option>
    <option value="Lamar County">Lamar County</option>
    <option value="Lamb County">Lamb County</option>
    <option value="Lamesa">Lamesa</option>
    <option value="Lampasas">Lampasas</option>
    <option value="Lampasas County">Lampasas County</option>
    <option value="Lancaster">Lancaster</option>
    <option value="Lantana">Lantana</option>
    <option value="Laredo">Laredo</option>
    <option value="Las Lomas">Las Lomas</option>
    <option value="Las Palmas II">Las Palmas II</option>
    <option value="Las Quintas Fronterizas">Las Quintas Fronterizas</option>
    <option value="Las Quintas Fronterizas Colonia">Las Quintas Fronterizas Colonia</option>
    <option value="Lasara">Lasara</option>
    <option value="Laughlin Air Force Base">Laughlin Air Force Base</option>
    <option value="Laureles">Laureles</option>
    <option value="Lavaca County">Lavaca County</option>
    <option value="Lavon">Lavon</option>
    <option value="League City">League City</option>
    <option value="Leakey">Leakey</option>
    <option value="Leander">Leander</option>
    <option value="Lee County">Lee County</option>
    <option value="Leon County">Leon County</option>
    <option value="Leon Valley">Leon Valley</option>
    <option value="Leonard">Leonard</option>
    <option value="Levelland">Levelland</option>
    <option value="Lewisville">Lewisville</option>
    <option value="Lexington">Lexington</option>
    <option value="Liberty">Liberty</option>
    <option value="Liberty City">Liberty City</option>
    <option value="Liberty County">Liberty County</option>
    <option value="Liberty Hill">Liberty Hill</option>
    <option value="Limestone County">Limestone County</option>
    <option value="Lindale">Lindale</option>
    <option value="Linden">Linden</option>
    <option value="Lindsay">Lindsay</option>
    <option value="Lipscomb County">Lipscomb County</option>
    <option value="Little Elm">Little Elm</option>
    <option value="Little River-Academy">Little River-Academy</option>
    <option value="Littlefield">Littlefield</option>
    <option value="Live Oak">Live Oak</option>
    <option value="Live Oak County">Live Oak County</option>
    <option value="Livingston">Livingston</option>
    <option value="Llano">Llano</option>
    <option value="Llano County">Llano County</option>
    <option value="Llano Grande">Llano Grande</option>
    <option value="Lockhart">Lockhart</option>
    <option value="Lockney">Lockney</option>
    <option value="Lone Star">Lone Star</option>
    <option value="Longview">Longview</option>
    <option value="Lopezville">Lopezville</option>
    <option value="Lorena">Lorena</option>
    <option value="Lorenzo">Lorenzo</option>
    <option value="Los Fresnos">Los Fresnos</option>
    <option value="Los Indios">Los Indios</option>
    <option value="Lost Creek">Lost Creek</option>
    <option value="Loving County">Loving County</option>
    <option value="Lowry Crossing">Lowry Crossing</option>
    <option value="Lubbock">Lubbock</option>
    <option value="Lubbock County">Lubbock County</option>
    <option value="Lucas">Lucas</option>
    <option value="Lufkin">Lufkin</option>
    <option value="Luling">Luling</option>
    <option value="Lumberton">Lumberton</option>
    <option value="Lyford">Lyford</option>
    <option value="Lynn County">Lynn County</option>
    <option value="Lytle">Lytle</option>
    <option value="Mabank">Mabank</option>
    <option value="Madison County">Madison County</option>
    <option value="Madisonville">Madisonville</option>
    <option value="Magnolia">Magnolia</option>
    <option value="Malakoff">Malakoff</option>
    <option value="Manchaca">Manchaca</option>
    <option value="Manor">Manor</option>
    <option value="Mansfield">Mansfield</option>
    <option value="Manvel">Manvel</option>
    <option value="Marble Falls">Marble Falls</option>
    <option value="Marfa">Marfa</option>
    <option value="Marion">Marion</option>
    <option value="Marion County">Marion County</option>
    <option value="Markham">Markham</option>
    <option value="Marlin">Marlin</option>
    <option value="Marshall">Marshall</option>
    <option value="Mart">Mart</option>
    <option value="Martin County">Martin County</option>
    <option value="Martindale">Martindale</option>
    <option value="Mason">Mason</option>
    <option value="Mason County">Mason County</option>
    <option value="Matador">Matador</option>
    <option value="Matagorda County">Matagorda County</option>
    <option value="Mathis">Mathis</option>
    <option value="Maud">Maud</option>
    <option value="Mauriceville">Mauriceville</option>
    <option value="Maverick County">Maverick County</option>
    <option value="McAllen">McAllen</option>
    <option value="McCamey">McCamey</option>
    <option value="McCulloch County">McCulloch County</option>
    <option value="McGregor">McGregor</option>
    <option value="McKinney">McKinney</option>
    <option value="McLendon-Chisholm">McLendon-Chisholm</option>
    <option value="McLennan County">McLennan County</option>
    <option value="McMullen County">McMullen County</option>
    <option value="McQueeney">McQueeney</option>
    <option value="Meadowlakes">Meadowlakes</option>
    <option value="Meadows Place">Meadows Place</option>
    <option value="Medina">Medina</option>
    <option value="Medina County">Medina County</option>
    <option value="Melissa">Melissa</option>
    <option value="Memphis">Memphis</option>
    <option value="Menard">Menard</option>
    <option value="Menard County">Menard County</option>
    <option value="Mentone">Mentone</option>
    <option value="Mercedes">Mercedes</option>
    <option value="Meridian">Meridian</option>
    <option value="Merkel">Merkel</option>
    <option value="Mertzon">Mertzon</option>
    <option value="Mesquite">Mesquite</option>
    <option value="Mexia">Mexia</option>
    <option value="Miami">Miami</option>
    <option value="Midland">Midland</option>
    <option value="Midland County">Midland County</option>
    <option value="Midlothian">Midlothian</option>
    <option value="Midway North">Midway North</option>
    <option value="Midway South">Midway South</option>
    <option value="Mila Doce">Mila Doce</option>
    <option value="Milam">Milam</option>
    <option value="Milam County">Milam County</option>
    <option value="Mills County">Mills County</option>
    <option value="Mineola">Mineola</option>
    <option value="Mineral Wells">Mineral Wells</option>
    <option value="Mission">Mission</option>
    <option value="Mission Bend">Mission Bend</option>
    <option value="Missouri City">Missouri City</option>
    <option value="Mitchell County">Mitchell County</option>
    <option value="Monahans">Monahans</option>
    <option value="Mont Belvieu">Mont Belvieu</option>
    <option value="Montague">Montague</option>
    <option value="Montague County">Montague County</option>
    <option value="Monte Alto">Monte Alto</option>
    <option value="Montgomery County">Montgomery County</option>
    <option value="Moody">Moody</option>
    <option value="Moore County">Moore County</option>
    <option value="Morgans Point Resort">Morgans Point Resort</option>
    <option value="Morris County">Morris County</option>
    <option value="Morton">Morton</option>
    <option value="Motley County">Motley County</option>
    <option value="Mount Pleasant">Mount Pleasant</option>
    <option value="Mount Vernon">Mount Vernon</option>
    <option value="Muenster">Muenster</option>
    <option value="Muleshoe">Muleshoe</option>
    <option value="Munday">Munday</option>
    <option value="Muniz">Muniz</option>
    <option value="Murillo Colonia">Murillo Colonia</option>
    <option value="Murphy">Murphy</option>
    <option value="Nacogdoches">Nacogdoches</option>
    <option value="Nacogdoches County">Nacogdoches County</option>
    <option value="Naples">Naples</option>
    <option value="Nash">Nash</option>
    <option value="Nassau Bay">Nassau Bay</option>
    <option value="Natalia">Natalia</option>
    <option value="Navarro County">Navarro County</option>
    <option value="Navasota">Navasota</option>
    <option value="Nederland">Nederland</option>
    <option value="Needville">Needville</option>
    <option value="Nevada">Nevada</option>
    <option value="New Boston">New Boston</option>
    <option value="New Braunfels">New Braunfels</option>
    <option value="New Summerfield">New Summerfield</option>
    <option value="New Territory">New Territory</option>
    <option value="New Waverly">New Waverly</option>
    <option value="Newark">Newark</option>
    <option value="Newton">Newton</option>
    <option value="Newton County">Newton County</option>
    <option value="Nixon">Nixon</option>
    <option value="Nocona">Nocona</option>
    <option value="Nolan County">Nolan County</option>
    <option value="Nolanville">Nolanville</option>
    <option value="North Alamo">North Alamo</option>
    <option value="North Richland Hills">North Richland Hills</option>
    <option value="Northcliff">Northcliff</option>
    <option value="Northcrest">Northcrest</option>
    <option value="Northlake">Northlake</option>
    <option value="Nueces County">Nueces County</option>
    <option value="Nurillo">Nurillo</option>
    <option value="Oak Cliff Place">Oak Cliff Place</option>
    <option value="Oak Leaf">Oak Leaf</option>
    <option value="Oak Point">Oak Point</option>
    <option value="Oak Ridge North">Oak Ridge North</option>
    <option value="Oak Trail Shores">Oak Trail Shores</option>
    <option value="Ochiltree County">Ochiltree County</option>
    <option value="Odem">Odem</option>
    <option value="Odessa">Odessa</option>
    <option value="Old River-Winfree">Old River-Winfree</option>
    <option value="Oldham County">Oldham County</option>
    <option value="Olivarez">Olivarez</option>
    <option value="Olmito">Olmito</option>
    <option value="Olmos Park">Olmos Park</option>
    <option value="Olney">Olney</option>
    <option value="Olton">Olton</option>
    <option value="Onalaska">Onalaska</option>
    <option value="Onion Creek">Onion Creek</option>
    <option value="Orange">Orange</option>
    <option value="Orange County">Orange County</option>
    <option value="Orange Grove">Orange Grove</option>
    <option value="Ore City">Ore City</option>
    <option value="Overton">Overton</option>
    <option value="Ovilla">Ovilla</option>
    <option value="Oyster Creek">Oyster Creek</option>
    <option value="Ozona">Ozona</option>
    <option value="Paducah">Paducah</option>
    <option value="Paint Rock">Paint Rock</option>
    <option value="Palacios">Palacios</option>
    <option value="Palestine">Palestine</option>
    <option value="Palm Valley">Palm Valley</option>
    <option value="Palmer">Palmer</option>
    <option value="Palmhurst">Palmhurst</option>
    <option value="Palmview">Palmview</option>
    <option value="Palmview South">Palmview South</option>
    <option value="Palo Pinto">Palo Pinto</option>
    <option value="Palo Pinto County">Palo Pinto County</option>
    <option value="Paloma Creek">Paloma Creek</option>
    <option value="Paloma Creek South">Paloma Creek South</option>
    <option value="Pampa">Pampa</option>
    <option value="Panhandle">Panhandle</option>
    <option value="Panola County">Panola County</option>
    <option value="Panorama Village">Panorama Village</option>
    <option value="Pantego">Pantego</option>
    <option value="Paris">Paris</option>
    <option value="Parker">Parker</option>
    <option value="Parker County">Parker County</option>
    <option value="Parmer County">Parmer County</option>
    <option value="Pasadena">Pasadena</option>
    <option value="Patton Village">Patton Village</option>
    <option value="Pearland">Pearland</option>
    <option value="Pearsall">Pearsall</option>
    <option value="Pecan Acres">Pecan Acres</option>
    <option value="Pecan Grove">Pecan Grove</option>
    <option value="Pecan Plantation">Pecan Plantation</option>
    <option value="Pecos">Pecos</option>
    <option value="Pecos County">Pecos County</option>
    <option value="Pelican Bay">Pelican Bay</option>
    <option value="Penitas">Penitas</option>
    <option value="Perezville">Perezville</option>
    <option value="Perryton">Perryton</option>
    <option value="Petersburg">Petersburg</option>
    <option value="Pflugerville">Pflugerville</option>
    <option value="Pharr">Pharr</option>
    <option value="Pilot Point">Pilot Point</option>
    <option value="Pine Island">Pine Island</option>
    <option value="Pinehurst">Pinehurst</option>
    <option value="Pinewood Estates">Pinewood Estates</option>
    <option value="Piney Point Village">Piney Point Village</option>
    <option value="Pittsburg">Pittsburg</option>
    <option value="Plains">Plains</option>
    <option value="Plainview">Plainview</option>
    <option value="Plano">Plano</option>
    <option value="Pleak">Pleak</option>
    <option value="Pleasanton">Pleasanton</option>
    <option value="Plum Grove">Plum Grove</option>
    <option value="Polk County">Polk County</option>
    <option value="Ponder">Ponder</option>
    <option value="Port Aransas">Port Aransas</option>
    <option value="Port Arthur">Port Arthur</option>
    <option value="Port Isabel">Port Isabel</option>
    <option value="Port Lavaca">Port Lavaca</option>
    <option value="Port Neches">Port Neches</option>
    <option value="Port O'Connor">Port O'Connor</option>
    <option value="Porter Heights">Porter Heights</option>
    <option value="Portland">Portland</option>
    <option value="Post">Post</option>
    <option value="Poteet">Poteet</option>
    <option value="Poth">Poth</option>
    <option value="Potosi">Potosi</option>
    <option value="Potter County">Potter County</option>
    <option value="Pottsboro">Pottsboro</option>
    <option value="Powderly">Powderly</option>
    <option value="Prairie View">Prairie View</option>
    <option value="Premont">Premont</option>
    <option value="Presidio">Presidio</option>
    <option value="Presidio County">Presidio County</option>
    <option value="Preston">Preston</option>
    <option value="Primera">Primera</option>
    <option value="Princeton">Princeton</option>
    <option value="Progreso">Progreso</option>
    <option value="Prosper">Prosper</option>
    <option value="Providence">Providence</option>
    <option value="Quail Creek">Quail Creek</option>
    <option value="Quanah">Quanah</option>
    <option value="Queen City">Queen City</option>
    <option value="Quinlan">Quinlan</option>
    <option value="Quitman">Quitman</option>
    <option value="Rains County">Rains County</option>
    <option value="Ralls">Ralls</option>
    <option value="Rancho Alegre">Rancho Alegre</option>
    <option value="Rancho Viejo">Rancho Viejo</option>
    <option value="Randall County">Randall County</option>
    <option value="Ranger">Ranger</option>
    <option value="Rankin">Rankin</option>
    <option value="Ransom Canyon">Ransom Canyon</option>
    <option value="Raymondville">Raymondville</option>
    <option value="Reagan County">Reagan County</option>
    <option value="Real County">Real County</option>
    <option value="Red Lick">Red Lick</option>
    <option value="Red Oak">Red Oak</option>
    <option value="Red River County">Red River County</option>
    <option value="Redland">Redland</option>
    <option value="Redwater">Redwater</option>
    <option value="Redwood">Redwood</option>
    <option value="Reeves County">Reeves County</option>
    <option value="Refugio">Refugio</option>
    <option value="Refugio County">Refugio County</option>
    <option value="Rendon">Rendon</option>
    <option value="Reno">Reno</option>
    <option value="Rhome">Rhome</option>
    <option value="Ricardo">Ricardo</option>
    <option value="Richardson">Richardson</option>
    <option value="Richland Hills">Richland Hills</option>
    <option value="Richmond">Richmond</option>
    <option value="Richwood">Richwood</option>
    <option value="Riesel">Riesel</option>
    <option value="Rio Bravo">Rio Bravo</option>
    <option value="Rio Grande City">Rio Grande City</option>
    <option value="Rio Hondo">Rio Hondo</option>
    <option value="River Oaks">River Oaks</option>
    <option value="Roanoke">Roanoke</option>
    <option value="Robert Lee">Robert Lee</option>
    <option value="Roberts County">Roberts County</option>
    <option value="Robertson County">Robertson County</option>
    <option value="Robinson">Robinson</option>
    <option value="Robstown">Robstown</option>
    <option value="Roby">Roby</option>
    <option value="Rockdale">Rockdale</option>
    <option value="Rockport">Rockport</option>
    <option value="Rocksprings">Rocksprings</option>
    <option value="Rockwall">Rockwall</option>
    <option value="Rockwall County">Rockwall County</option>
    <option value="Rogers">Rogers</option>
    <option value="Rollingwood">Rollingwood</option>
    <option value="Roma">Roma</option>
    <option value="Roma-Los Saenz">Roma-Los Saenz</option>
    <option value="Roman Forest">Roman Forest</option>
    <option value="Roscoe">Roscoe</option>
    <option value="Rosebud">Rosebud</option>
    <option value="Rosenberg">Rosenberg</option>
    <option value="Rosharon">Rosharon</option>
    <option value="Rosita North">Rosita North</option>
    <option value="Rosita South">Rosita South</option>
    <option value="Rotan">Rotan</option>
    <option value="Round Rock">Round Rock</option>
    <option value="Rowlett">Rowlett</option>
    <option value="Royse City">Royse City</option>
    <option value="Runaway Bay">Runaway Bay</option>
    <option value="Runge">Runge</option>
    <option value="Runnels County">Runnels County</option>
    <option value="Rusk">Rusk</option>
    <option value="Rusk County">Rusk County</option>
    <option value="Sabinal">Sabinal</option>
    <option value="Sabine County">Sabine County</option>
    <option value="Sachse">Sachse</option>
    <option value="Saginaw">Saginaw</option>
    <option value="Saint Hedwig">Saint Hedwig</option>
    <option value="Saint Jo">Saint Jo</option>
    <option value="Saint Paul">Saint Paul</option>
    <option value="Salado">Salado</option>
    <option value="Sam Rayburn">Sam Rayburn</option>
    <option value="San Angelo">San Angelo</option>
    <option value="San Antonio">San Antonio</option>
    <option value="San Augustine">San Augustine</option>
    <option value="San Augustine County">San Augustine County</option>
    <option value="San Benito">San Benito</option>
    <option value="San Carlos">San Carlos</option>
    <option value="San Diego">San Diego</option>
    <option value="San Elizario">San Elizario</option>
    <option value="San Jacinto County">San Jacinto County</option>
    <option value="San Juan">San Juan</option>
    <option value="San Leon">San Leon</option>
    <option value="San Marcos">San Marcos</option>
    <option value="San Patricio County">San Patricio County</option>
    <option value="San Saba">San Saba</option>
    <option value="San Saba County">San Saba County</option>
    <option value="Sanderson">Sanderson</option>
    <option value="Sanger">Sanger</option>
    <option value="Sansom Park">Sansom Park</option>
    <option value="Santa Anna">Santa Anna</option>
    <option value="Santa Fe">Santa Fe</option>
    <option value="Santa Rosa">Santa Rosa</option>
    <option value="Sarita">Sarita</option>
    <option value="Savannah">Savannah</option>
    <option value="Scenic Oaks">Scenic Oaks</option>
    <option value="Schertz">Schertz</option>
    <option value="Schleicher County">Schleicher County</option>
    <option value="Schulenburg">Schulenburg</option>
    <option value="Scissors">Scissors</option>
    <option value="Scurry County">Scurry County</option>
    <option value="Seabrook">Seabrook</option>
    <option value="Seadrift">Seadrift</option>
    <option value="Seagoville">Seagoville</option>
    <option value="Seagraves">Seagraves</option>
    <option value="Sealy">Sealy</option>
    <option value="Sebastian">Sebastian</option>
    <option value="Seguin">Seguin</option>
    <option value="Selma">Selma</option>
    <option value="Seminole">Seminole</option>
    <option value="Serenada">Serenada</option>
    <option value="Seth Ward">Seth Ward</option>
    <option value="Seven Points">Seven Points</option>
    <option value="Seymour">Seymour</option>
    <option value="Shackelford County">Shackelford County</option>
    <option value="Shady Hollow">Shady Hollow</option>
    <option value="Shady Shores">Shady Shores</option>
    <option value="Shallowater">Shallowater</option>
    <option value="Shamrock">Shamrock</option>
    <option value="Shavano Park">Shavano Park</option>
    <option value="Shelby County">Shelby County</option>
    <option value="Sheldon">Sheldon</option>
    <option value="Shenandoah">Shenandoah</option>
    <option value="Shepherd">Shepherd</option>
    <option value="Sherman">Sherman</option>
    <option value="Sherman County">Sherman County</option>
    <option value="Sherwood Shores">Sherwood Shores</option>
    <option value="Shiner">Shiner</option>
    <option value="Shoreacres">Shoreacres</option>
    <option value="Sienna Plantation">Sienna Plantation</option>
    <option value="Sierra Blanca">Sierra Blanca</option>
    <option value="Siesta Acres">Siesta Acres</option>
    <option value="Siesta Shores">Siesta Shores</option>
    <option value="Silsbee">Silsbee</option>
    <option value="Silverton">Silverton</option>
    <option value="Sinton">Sinton</option>
    <option value="Slaton">Slaton</option>
    <option value="Smith County">Smith County</option>
    <option value="Smithville">Smithville</option>
    <option value="Snyder">Snyder</option>
    <option value="Socorro">Socorro</option>
    <option value="Socorro Mission Number 1 Colonia">Socorro Mission Number 1 Colonia</option>
    <option value="Somerset">Somerset</option>
    <option value="Somervell County">Somervell County</option>
    <option value="Somerville">Somerville</option>
    <option value="Sonora">Sonora</option>
    <option value="Sour Lake">Sour Lake</option>
    <option value="South Alamo">South Alamo</option>
    <option value="South Houston">South Houston</option>
    <option value="South Padre Island">South Padre Island</option>
    <option value="South Point">South Point</option>
    <option value="Southlake">Southlake</option>
    <option value="Southmayd">Southmayd</option>
    <option value="Southside Place">Southside Place</option>
    <option value="Sparks">Sparks</option>
    <option value="Spearman">Spearman</option>
    <option value="Splendora">Splendora</option>
    <option value="Spring">Spring</option>
    <option value="Spring Valley">Spring Valley</option>
    <option value="Springtown">Springtown</option>
    <option value="Spur">Spur</option>
    <option value="Stafford">Stafford</option>
    <option value="Stamford">Stamford</option>
    <option value="Stanton">Stanton</option>
    <option value="Starr County">Starr County</option>
    <option value="Stephens County">Stephens County</option>
    <option value="Stephenville">Stephenville</option>
    <option value="Sterling City">Sterling City</option>
    <option value="Sterling County">Sterling County</option>
    <option value="Stinnett">Stinnett</option>
    <option value="Stockdale">Stockdale</option>
    <option value="Stonewall County">Stonewall County</option>
    <option value="Stowell">Stowell</option>
    <option value="Stratford">Stratford</option>
    <option value="Sugar Land">Sugar Land</option>
    <option value="Sullivan City">Sullivan City</option>
    <option value="Sulphur Springs">Sulphur Springs</option>
    <option value="Sundown">Sundown</option>
    <option value="Sunnyvale">Sunnyvale</option>
    <option value="Sunray">Sunray</option>
    <option value="Sutton County">Sutton County</option>
    <option value="Sweeny">Sweeny</option>
    <option value="Sweetwater">Sweetwater</option>
    <option value="Swisher County">Swisher County</option>
    <option value="Taft">Taft</option>
    <option value="Taft Southwest (historical)">Taft Southwest (historical)</option>
    <option value="Tahoka">Tahoka</option>
    <option value="Talty">Talty</option>
    <option value="Tarrant County">Tarrant County</option>
    <option value="Tatum">Tatum</option>
    <option value="Taylor">Taylor</option>
    <option value="Taylor County">Taylor County</option>
    <option value="Taylor Lake Village">Taylor Lake Village</option>
    <option value="Teague">Teague</option>
    <option value="Temple">Temple</option>
    <option value="Tenaha">Tenaha</option>
    <option value="Terrell">Terrell</option>
    <option value="Terrell County">Terrell County</option>
    <option value="Terrell Hills">Terrell Hills</option>
    <option value="Terry County">Terry County</option>
    <option value="Texarkana">Texarkana</option>
    <option value="Texas City">Texas City</option>
    <option value="The Colony">The Colony</option>
    <option value="The Hills">The Hills</option>
    <option value="The Woodlands">The Woodlands</option>
    <option value="Thorndale">Thorndale</option>
    <option value="Three Rivers">Three Rivers</option>
    <option value="Throckmorton">Throckmorton</option>
    <option value="Throckmorton County">Throckmorton County</option>
    <option value="Tiki Island">Tiki Island</option>
    <option value="Tilden">Tilden</option>
    <option value="Timberwood Park">Timberwood Park</option>
    <option value="Timpson">Timpson</option>
    <option value="Titus County">Titus County</option>
    <option value="Tom Bean">Tom Bean</option>
    <option value="Tom Green County">Tom Green County</option>
    <option value="Tomball">Tomball</option>
    <option value="Tool">Tool</option>
    <option value="Tornillo">Tornillo</option>
    <option value="Travis County">Travis County</option>
    <option value="Travis Ranch">Travis Ranch</option>
    <option value="Trinity">Trinity</option>
    <option value="Trinity County">Trinity County</option>
    <option value="Trophy Club">Trophy Club</option>
    <option value="Troup">Troup</option>
    <option value="Troy">Troy</option>
    <option value="Tulia">Tulia</option>
    <option value="Tye">Tye</option>
    <option value="Tyler">Tyler</option>
    <option value="Tyler County">Tyler County</option>
    <option value="Uhland">Uhland</option>
    <option value="Universal City">Universal City</option>
    <option value="University Park">University Park</option>
    <option value="Upshur County">Upshur County</option>
    <option value="Upton County">Upton County</option>
    <option value="Uvalde">Uvalde</option>
    <option value="Uvalde County">Uvalde County</option>
    <option value="Uvalde Estates">Uvalde Estates</option>
    <option value="Val Verde County">Val Verde County</option>
    <option value="Val Verde Park">Val Verde Park</option>
    <option value="Valley Mills">Valley Mills</option>
    <option value="Van">Van</option>
    <option value="Van Alstyne">Van Alstyne</option>
    <option value="Van Horn">Van Horn</option>
    <option value="Van Vleck">Van Vleck</option>
    <option value="Van Zandt County">Van Zandt County</option>
    <option value="Vega">Vega</option>
    <option value="Venus">Venus</option>
    <option value="Vernon">Vernon</option>
    <option value="Victoria">Victoria</option>
    <option value="Victoria County">Victoria County</option>
    <option value="Vidor">Vidor</option>
    <option value="Vinton">Vinton</option>
    <option value="Von Ormy">Von Ormy</option>
    <option value="Waco">Waco</option>
    <option value="Wake Village">Wake Village</option>
    <option value="Walker County">Walker County</option>
    <option value="Waller">Waller</option>
    <option value="Waller County">Waller County</option>
    <option value="Wallis">Wallis</option>
    <option value="Ward County">Ward County</option>
    <option value="Washington County">Washington County</option>
    <option value="Waskom">Waskom</option>
    <option value="Watauga">Watauga</option>
    <option value="Waxahachie">Waxahachie</option>
    <option value="Weatherford">Weatherford</option>
    <option value="Webb County">Webb County</option>
    <option value="Webster">Webster</option>
    <option value="Weimar">Weimar</option>
    <option value="Wellington">Wellington</option>
    <option value="Wells Branch">Wells Branch</option>
    <option value="Weslaco">Weslaco</option>
    <option value="West">West</option>
    <option value="West Columbia">West Columbia</option>
    <option value="West Lake Hills">West Lake Hills</option>
    <option value="West Livingston">West Livingston</option>
    <option value="West Odessa">West Odessa</option>
    <option value="West Orange">West Orange</option>
    <option value="West Sharyland">West Sharyland</option>
    <option value="West Tawakoni">West Tawakoni</option>
    <option value="West University Place">West University Place</option>
    <option value="Western Lake">Western Lake</option>
    <option value="Westlake">Westlake</option>
    <option value="Weston Lakes">Weston Lakes</option>
    <option value="Westway">Westway</option>
    <option value="Westworth">Westworth</option>
    <option value="Wharton">Wharton</option>
    <option value="Wharton County">Wharton County</option>
    <option value="Wheeler">Wheeler</option>
    <option value="Wheeler County">Wheeler County</option>
    <option value="White Oak">White Oak</option>
    <option value="White Settlement">White Settlement</option>
    <option value="Whitehouse">Whitehouse</option>
    <option value="Whitesboro">Whitesboro</option>
    <option value="Whitewright">Whitewright</option>
    <option value="Whitney">Whitney</option>
    <option value="Wichita County">Wichita County</option>
    <option value="Wichita Falls">Wichita Falls</option>
    <option value="Wilbarger County">Wilbarger County</option>
    <option value="Wild Peach Village">Wild Peach Village</option>
    <option value="Wildwood">Wildwood</option>
    <option value="Willacy County">Willacy County</option>
    <option value="Williamson County">Williamson County</option>
    <option value="Willis">Willis</option>
    <option value="Willow Park">Willow Park</option>
    <option value="Wills Point">Wills Point</option>
    <option value="Wilmer">Wilmer</option>
    <option value="Wilson County">Wilson County</option>
    <option value="Wimberley">Wimberley</option>
    <option value="Windcrest">Windcrest</option>
    <option value="Windemere">Windemere</option>
    <option value="Wink">Wink</option>
    <option value="Winkler County">Winkler County</option>
    <option value="Winnie">Winnie</option>
    <option value="Winnsboro">Winnsboro</option>
    <option value="Winters">Winters</option>
    <option value="Wise County">Wise County</option>
    <option value="Wolfe City">Wolfe City</option>
    <option value="Wolfforth">Wolfforth</option>
    <option value="Wood County">Wood County</option>
    <option value="Woodbranch">Woodbranch</option>
    <option value="Woodcreek">Woodcreek</option>
    <option value="Woodsboro">Woodsboro</option>
    <option value="Woodville">Woodville</option>
    <option value="Woodway">Woodway</option>
    <option value="Wortham">Wortham</option>
    <option value="Wyldwood">Wyldwood</option>
    <option value="Wylie">Wylie</option>
    <option value="Yoakum">Yoakum</option>
    <option value="Yoakum County">Yoakum County</option>
    <option value="Yorktown">Yorktown</option>
    <option value="Young County">Young County</option>
    <option value="Zapata">Zapata</option>
    <option value="Zapata County">Zapata County</option>
    <option value="Zavala County">Zavala County</option>
</select>
  <br><br>
  <strong><label for="deliveryaddress"<b>Delivery Address: </b></label></strong><br>
  <input type="text" name="add1"value="<%= locals.add1%>" id="userinfo" maxlength="100" disabled required>
  <br><br>
  <strong><label for="deliverydate"<b>Delivery Date: </b></label></strong><br>
  <input type="date" value="<%= locals.date%>">
  <br><br>
  <strong><label for="suggestprice"<b>Suggested Price: <font color="red"></font></b></label></strong><br>
  <input type="number" name="suggestprice" id="userinfo" maxlength="100" disabled required>
  <br><br>
  <strong><label for="totaldue"<b>Total Amount Due: </b></label></strong><br>
  <input type="number" name="totaldue" id="userinfo" maxlength="100" disabled required>
  <br><br>
  <button type="OK">OK</button>
  <br><br>
  <button type="OK">Check User History</button>
  <br><br>
  </div>
</form>
  </body>
</html>